
/* Nav */

a{
    text-decoration: none;
    color:black
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  /* .sub-nav-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: black; color: white;
  } */
  .sub-nav-container .sub-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

  }
  .sub-nav-container .sub-nav ul li .link{
    text-decoration: none;
    color: white;

  }

  /* Home */
  .home-sides{
    width: 98%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    
  }
  /* .home-side-left{
    border: 2px solid red;
  } */
  .home-side-left .left-text{
    width: 90%;
    margin: auto;
  }  
  .home-side-left .left-text .left-head{
    font-size: 20px;
    background-color: beige;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
  }
  
  .home-side-right .right-text .right-head{
    font-size: 20px;
    background-color: #F8F9FA;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
  }

  

  


  
/* Loin css */
.container-login{
    width: 100%;
    height: auto;
}
.container-login .login-main{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    /* border: 1px solid rgb(255, 117, 3); */
    justify-content: center;
    align-items: center;

    
}
.login-container{    
    width: 400px;
    height: auto;    
    box-shadow: 2px 2px 3px rgb(246, 246, 246), 0 0 25px rgb(184, 184, 186), 0 0 5px rgb(219, 219, 219);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background:transparent;
    backdrop-filter: blur(3px);
    padding: 20px;
}
.login-container:hover{
    box-shadow: 2px 2px 3px rgb(246, 246, 246), 0 0 30px rgb(184, 184, 186), 0 0 10px rgb(219, 219, 219);

}

.login-container h2{ 
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 20px;

}   

.login-container .circleuser{
    width: 80px;
    height: 80px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;

}
.login-container .circleuser .img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.login-container .login-box input{
    display: block;
    width: 80%;
    margin: auto;
    background: transparent;
    color: rgb(0, 0, 0);


}

.login-container .login-box label{
    display: block;
    color: #7A1FA0;
    font-size: larger;
    margin-left: 5px;
    margin-top: 20px;
}

.btn-group .log_btns{       
    width: 45%;         
    background-color: rgb(65, 155, 57);
    border-radius: 10px;  
    text-align: center; 
    font-size: larger;
    font-weight: bold; 
    margin: auto;    
    margin-top: 20px;   
    padding: 10px;    
    color: white;
    
}

.login-img img{
    width: 400px;
    height: 400px;
}

.btn-group .register_btns{      
    width: 45%;   
    text-align: center;      
    background-color: rgb(255, 251, 3);
    border-radius: 10px;   
    font-size: larger;
    font-weight: bold; 
    margin: auto;    
    margin-top: 20px;   
    padding: 10px;    
    color: rgb(250, 53, 53);

}
.btn-group .log_btns .links{ 
    text-decoration: none;  
    color: rgb(255, 255, 255); 

}
.btn-group .register_btns .links{ 
    text-decoration: none;  
    color: red; 

}


