
/* Nav */

a{
    text-decoration: none;
    color:rgb(255, 255, 255)
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .sub-nav-container{
    background-color: #398DCD;
  }
  .sub-nav-container .sub-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

  }
  .sub-nav-container .sub-nav ul li .link{
    text-decoration: none;
    color: white;

  }

  /* Home */
  .home-sides{
    width: 98%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    
  }
  /* .home-side-left{
    border: 2px solid red;
  } */
  .home-side-left .left-text{
    width: 90%;
    margin: auto;
  }  
  .home-side-left .left-text .left-head{
    font-size: 20px;
    background-color: beige;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
  }
  
  .home-side-right .right-text .right-head{
    font-size: 20px;
    background-color: #F8F9FA;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
  }

  

  


  
/* Loin css */
.login-container{
  width: 100%;
  height: 100vh;  
}
.login-container .main-login{
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;   
  align-items: center;       
  box-sizing: border-box;

}
.login-container .main-login .rows{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;   
  align-items: center;
  box-sizing: border-box;

}

.login-container .main-login .rows .login-left{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;   
  align-items: center;

}
.login-container .main-login .login-left .login-img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.login-container .main-login .login-left .login-img img{
  width: 100%;
  height: auto;
}

.login-container .login-box input{
  display: block;
  width: 100%;
  margin: auto;
  background: transparent;
  color: rgb(0, 0, 0);


}
.login-container .main-login .rows .login-right{
  width: 40%;
  justify-content: center;   
  align-items: center;
  padding: 10px;
  border: 2px solid rgb(218, 218, 218);

}
.login-container h2{ 
  color:#3A8ECC;  
  font-size: 28px;
  font-weight: bolder;
  margin-left: 20px;

} 

.login-container .login-box label{
  display: block;
  color: #7A1FA0;
  font-size: larger;
  margin-left: 5px;
  margin-top: 20px;
}

.btn-group .log_btns{       
  width: 45%;
  border: none;       
  background-color: rgb(65, 155, 57);
  border-radius: 10px;  
  text-align: center; 
  font-size: larger;
  font-weight: bold; 
  margin: auto;    
  margin-top: 20px;   
  padding: 10px;    
  color: white;
  
}


.btn-group .register_btns{
  border: none;      
    width: 45%;   
    text-align: center;      
    background-color: rgb(255, 251, 3);
    border-radius: 10px;   
    font-size: larger;
    font-weight: bold; 
    margin: auto;    
    margin-top: 20px;   
    padding: 10px;    
    color: rgb(250, 53, 53);

}
.btn-group .log_btns .links{ 
    text-decoration: none;  
    color: rgb(255, 255, 255); 

}
.btn-group .register_btns .links{ 
    text-decoration: none;  
    color: red; 

}


